@import "https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap";
@import "https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.2/css/fontawesome.min.css";
* {
  font-family: Roboto;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0px;
  margin: 0px;
}

li {
  list-style-type: none;
}

ul {
  margin: 0;
  padding: 0;
}

footer img {
  max-width: 100%;
}

a {
  color: black;
  text-decoration: none;
}

header {
  text-align: center;
}
header .logo img {
  width: 45%;
  margin: 10px;
}
header .research {
  background-color: #f7f7f7;
}
header .research i {
  position: relative;
  top: -37px;
  left: -87px;
}
header .research__input {
  width: 100%;
  border: 0px;
  background-color: #EAEAEA;
  height: 50px;
  box-shadow: 0 4px 4px 0px #b7b7b7 inset;
  text-align: center;
}
header .research__input::placeholder {
  color: black;
  font-weight: bolder;
  font-size: 1rem;
}
header .research__title {
  margin: 0px 10%;
  font-size: 1.5rem;
  font-weight: 900;
}
header .research__descreption {
  background-color: #f7f7f7;
  padding: 5%;
}
header .research__text {
  font-size: medium;
}
header .research__button {
  margin: 5% 0px;
}

footer {
  background-color: #353535;
  padding: 12px 5%;
}
footer .logo-footer {
  filter: invert(1);
  width: 30%;
  margin: 12px 0;
}
footer .menu-footer__elem {
  line-height: 22px;
}
footer .menu-footer a {
  color: white;
  font-size: small;
}
footer .menu-footer i {
  margin: 0 4px;
  font-size: smaller;
}

.steps {
  padding: 5%;
  margin-bottom: 20px;
}
.steps__wrapper {
  display: flex;
  justify-content: flex-start;
  flex-flow: column wrap;
}
@media screen and (min-width: 992px) {
  .steps__wrapper {
    flex-flow: row wrap;
  }
}
@media screen and (min-width: 800px) {
  .steps__wrapper {
    flex-flow: row wrap;
  }
}
.steps__step {
  box-shadow: 4px 4px 20px -3px #aaaaaa;
  border-radius: 15px;
  padding-top: 20px;
  margin: 15px auto;
  background-color: #f7f7f7;
  font-size: medium;
  height: 60px;
  font-weight: 900;
  width: 100%;
}
@media screen and (min-width: 992px) {
  .steps__step {
    width: 30%;
  }
}
@media screen and (min-width: 800px) {
  .steps__step {
    width: 30%;
  }
}
.steps__step:hover {
  background-color: #f4eefc;
}
.steps__step:hover > i {
  color: #9356DC;
}
.steps span {
  position: relative;
  left: -10px;
  border-radius: 30px;
  border: 1px #EAEAEA solid;
  padding: 4px 6px;
  background-color: #9356DC;
  color: white;
  font-size: x-small;
}
.steps i {
  margin: 0 7px;
}

.restos {
  padding: 5%;
  background-color: #f7f7f7;
}
.restos__wrapper {
  display: flex;
  flex-flow: column;
}
@media screen and (min-width: 992px) {
  .restos__wrapper {
    flex-flow: row;
  }
}
.restos__post {
  box-shadow: 4px 4px 20px -3px #aaaaaa;
  margin: 12px auto;
  border-radius: 12px;
}
.restos__post-title {
  margin-top: 5px;
}
.restos__fig {
  position: relative;
  width: 100%;
  margin: 0;
}
.restos__image {
  width: 100%;
  object-fit: cover;
  height: 173px;
  border-radius: 12px 12px 0 0;
}
.restos--notif {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #278870;
  background-color: #99E2D0;
  padding: 12px 5%;
  font-size: small;
  font-weight: bolder;
}
.restos i {
  position: absolute;
  top: 10px;
  right: 2.5%;
  font-size: 1.5rem;
}
.restos figcaption {
  position: relative;
  line-height: 5px;
  padding: 10px 2.5%;
}
@media screen and (min-width: 992px) {
  .restos a {
    width: 23%;
    margin: 0 1%;
  }
}

.button_gardient {
  border: none;
  background: #FF79DA;
  background: linear-gradient(180deg, #FF79DA 0%, #9356DC 100%);
  color: white;
  padding: 15px 10%;
  border-radius: 30px;
  box-shadow: 4px 4px 10px -3px #aaaaaa;
  font-size: small;
}

/*# sourceMappingURL=style.css.map */
