.header {
    text-align: center;

    &__logo {
        img {
            width: 45%;
            margin: $spaceV;
        }
    }

    .research {
        background-color: lighten($color_gris, 5%); //#F7F7F7

        i {
            position: relative; //  positionnement de l'icone a l'interieur du champ de recherche 
            top: -37px;
            left: -87px;
        }

        &__input {
            width: 100%;
            border: 0px;
            background-color: $color_gris;
            height: 50px;
            box-shadow: 0 4px 4px 0px darken($color_gris, 20%) inset; // ombre intérieure du champ  
            text-align: center;

            // style du texte de remplacement     
            &::placeholder {
                color: black;
                font-weight: bolder;
                font-size: $size_x1;
            }

        }

        &__title {
            margin: 0px $space;
            font-size: $size_x2 ;
            font-weight: 900;

        }

        &__descreption {
            background-color: lighten($color_gris, 5%); //#F7F7F7 
            padding: calc($space/2);
        }

        &__text {
            font-size: medium;
        }

        &__button {
            margin: calc($space/2) 0px;
        }
    }

    &__cover {
        overflow: hidden;
        height: 250px;

        img {
            object-fit: cover;
            width: 100%;
        }
    }

    &__nav {
        position: absolute;
        display: inline;
        left: calc($space/2);
        top: $spaceV;
        font-size: $size_vw;
        margin-top: 1%;
    }
}