// Les plats des restaurant 
.menu-post {
    @include shadow(20px);
    @include radius(15px);
    margin: $spaceV 0;
    line-height: $spaceV*2.0;
    font-size: calc($size_x1/1.2);
    cursor: pointer;

    label {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        height: 59px;
        align-items: stretch;
        align-content: space-between;
        text-indent: $space; //10px     
    }

    &__title {
        margin: 0;
        width: 60%;
        font-weight: 900;
        font-size: 16px;
        @include cut_text
    }

    &__text {
        margin: 0;
        width: 60%;
        @include cut_text
    }

    &__prix {
        font-weight: 900;
        text-align: right;
        width: 20%;
        //l'annimation du prix viens succesesivement a celui de la selection du plats  
        transform: translatex(40px);
        transition: transform 250ms;
    }

    &--select {
        width: 20%;
        min-width: 0;
        height: 59px;
        position: relative;
        background-color: $color_tertiary;
        color: white;
        top: 0;
        right: 0;
        @include radius(15px, right);
        text-align: center;
        transform: scalex(0);
        //annimation du bouton selecion 
        transform-origin: center right;
        transition: transform 250ms;

        i {
            margin-top: $spaceV*2;

        }
    }

    &__check {
        display: none;

        //tout les cas de figure du declanchement de l'annimation passage de la souris et check du plat 
        &:hover+label .menu-post--select {
            opacity: 1;
            transform: scalex(1);
        }

        &:hover+label .menu-post__prix {
            opacity: 1;
            transform: translatex(-20px);
        }

        &:checked+label .menu-post--select {
            transform: scalex(1);
            background-color: darken($color_tertiary, 20%);
        }
    }
}