.restos {
    padding: calc($space/2);
    background-color: lighten($color_gris, 5%);

    &__wrapper {
        display: flex;
        flex-flow: column;
// Les vignettes sont agencées en ligne seulement en desktop 
        @include md(large) {
            flex-flow: row;
        }

    }

    &__post {
        @include shadow(20px);
        margin: 12px auto;
        @include radius(12px)
    }

    &__post-title {
        margin-top: $spaceV/2;
    }

    &__fig {
        // La balise figure est positionnée en relatif pour que les mentions se positionnent à leurs tours par rapport à cette balises  
        position: relative;
        width: 100%;
        margin: 0;
    }

    &__image {

        width: 100%;
        object-fit: cover;
        height: 173px;
        // Les corners sont biseautés seulement en haut pour les images
        @include radius(12px, "haut")
    }
// La mention nouveau est positionnées en absolute pour etre manipuler 
    &--notif {
        position: absolute;
        top: $spaceV;
        right: 10px;
        color: darken($color_tertiary, 40%);
        background-color: $color_tertiary;
        padding: 12px $space/2;
        font-size: small;
        font-weight: bolder;
    }

    i {
        // Positionnement des coeurs de maniere abolus 
        position: absolute;
        top: $spaceV;
        right: $space/4;
        font-size: $size_x2;
    }

    figcaption {
        position: relative;
        line-height: 5px;
        padding: 10px $space/4;
    }

    a {
// Sur la version desktop les vignettes sont fixé à 23% de la largeur global
        @include md(large) {
            width: 23%;
            margin: 0 $space/10;
        }
    }
}