.steps {
    padding: calc($space/2);
    margin-bottom: $spaceV*2;

    &__wrapper {
        display: flex;
        justify-content: flex-start;
        flex-flow: column wrap;

        // les boutons des steps sont agancées en ligne en desktop et en tablette 
        @include md(large) {
            flex-flow: row wrap;
        }

        @include md(medium) {
            flex-flow: row wrap;
        }
    }

    &__step {
        @include shadow(20px);
        @include radius(15px);
        padding-top: $spaceV*2;
        margin: 15px auto;
        // les steps sont coloriées de la même couleur que le fond du header 
        background-color: lighten($color_gris, 5%);
        font-size: medium;
        height: 60px;
        font-weight: 900;
        width: 100%;

        // les steps sont fixées à 100% en largeur sur le mobile et a 30 sur le reste des supports  
        @include md(large) {
            width: 30%;
        }

        @include md(medium) {
            width: 30%;
        }

        &:hover {
            background-color: lighten($color_premary, 36%);

            &>i {
                color: $color_premary;
            }
        }

    }
// les puces numérotées sont positionnées en relative pour etre décalées 
    span {
        position: relative;
        left: -$spaceV;
        @include radius(30px);
        border: 1px $color_gris solid;
        padding: 4px 6px;
        background-color: $color_premary;
        color: white;
        font-size: x-small;
    }

    i {
        margin: 0 7px;
    }
}