@import "https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap";
@import "https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.2/css/fontawesome.min.css";
@import "https://fonts.googleapis.com/css2?family=Shrikhand:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap";
* {
  font-family: Roboto;
}

/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
figcaption,
figure {
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * Add the correct display in IE.
 */
main {
  display: block;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 */
button {
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button; /* 2 */
}

button,
[type=button],
[type=reset],
[type=submit] {
  /**
   * Remove the inner border and padding in Firefox.
   */
  /**
   * Restore the focus styles unset by the previous rule.
   */
}
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Show the overflow in Edge.
 */
input {
  overflow: visible;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
  /**
   * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
   */
}
[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  color: inherit; /* 2 */
  white-space: normal; /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Add the correct display in IE 9-.
 */
menu {
  display: block;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0px;
  margin: 0px;
}

li {
  list-style-type: none;
}

ul {
  margin: 0;
  padding: 0;
}

footer img {
  max-width: 100%;
}

a {
  color: black;
  text-decoration: none;
}

.button_gardient {
  border: none;
  background: #FF79DA;
  background: linear-gradient(180deg, #FF79DA 0%, #9356DC 100%);
  color: white;
  padding: 15px 10%;
  border-radius: 30px;
  box-shadow: 4px 4px 10px -3px #aaaaaa;
  font-size: small;
}
.button_gardient:hover {
  animation: button_shadow 1s ease 0s 1 normal forwards;
}

.loadscreen {
  position: fixed;
  margin: 0px;
  background: radial-gradient(#CECECE, #fff);
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  opacity: 1;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  color: white;
  animation: 5s opacity linear;
  animation-fill-mode: forwards;
}
.loadscreen i {
  position: absolute;
  color: black;
  bottom: 10%;
  z-index: 9999;
  font-size: 2rem;
  animation: 150ms 2s bowl ease-in forwards;
  animation-iteration-count: 3;
}
.loadscreen .container {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background: linear-gradient(165deg, white, rgb(220, 220, 220) 40%, rgb(170, 170, 170) 98%, rgb(10, 10, 10) 100%);
  position: relative;
}
.loadscreen__loader {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border-bottom: 0 solid rgba(255, 255, 255, 0.0196078431);
  box-shadow: 0 -10px 20px 20px rgba(255, 255, 255, 0.2509803922) inset, 0 -5px 15px 10px rgba(255, 255, 255, 0.3137254902) inset, 0 -2px 5px rgba(255, 255, 255, 0.5019607843) inset, 0 -3px 2px rgba(255, 255, 255, 0.7333333333) inset, 0 2px 0px #FF79DA, 0 2px 3px #FF79DA, 0 5px 5px rgba(255, 255, 255, 0.5647058824), 0 10px 15px rgba(255, 255, 255, 0.3764705882), 0 10px 20px 20px rgba(255, 255, 255, 0.2509803922);
  filter: blur(3px);
  animation: 2s rotate linear infinite;
}
.loadscreen__wrapper-logo {
  position: absolute;
  transform: scale(5, 0.001);
  filter: blur(0.5rem);
  top: 50%;
  z-index: 998;
}
.loadscreen__logo-blur {
  width: 100%;
  opacity: 0.1;
  animation: 2s blur_scale linear infinite;
}
.loadscreen__logo {
  position: relative;
  top: 140px;
  left: 20%;
  width: 60%;
  z-index: 999;
}
@media screen and (min-width: 992px) {
  .loadscreen__logo {
    top: 140px;
  }
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes opacity {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  99% {
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}
@keyframes bowl {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes blur_scale {
  0% {
    transform: scale(0, 1000);
  }
  50% {
    transform: scale(0.2, 1000);
  }
  100% {
    transform: scale(0, 1000);
  }
}

@keyframes botton_heart {
  0% {
    animation-timing-function: ease-out;
    transform: scale(1);
    transform-origin: center center;
  }
  10% {
    animation-timing-function: ease-in;
    transform: scale(0.91);
  }
  17% {
    animation-timing-function: ease-out;
    transform: scale(0.98);
  }
  33% {
    animation-timing-function: ease-in;
    transform: scale(0.87);
  }
  45% {
    animation-timing-function: ease-out;
    transform: scale(1);
  }
}
@keyframes nouveau_bounce {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70% {
    transform: translateX(-10px);
  }
  20%, 40%, 60% {
    transform: translateX(10px);
  }
  80% {
    transform: translateX(8px);
  }
  90% {
    transform: translateX(-8px);
  }
}
@keyframes button_shadow {
  0% {
    box-shadow: 0 0 20px 0px #b7b7b7;
    filter: brightness(100%);
  }
  100% {
    box-shadow: 0 0 20px 0 #6b6b6b;
    filter: brightness(110%);
  }
}
@keyframes like_bounce {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
    transform: scale(0);
  }
  38% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: scale(1);
  }
  55% {
    animation-timing-function: ease-in;
    transform: scale(0.7);
  }
  72% {
    animation-timing-function: ease-out;
    transform: scale(1);
  }
  81% {
    animation-timing-function: ease-in;
    transform: scale(0.84);
  }
  89% {
    animation-timing-function: ease-out;
    transform: scale(1);
  }
  95% {
    animation-timing-function: ease-in;
    transform: scale(0.95);
  }
  100% {
    animation-timing-function: ease-out;
    transform: scale(1);
    z-index: auto;
  }
}
@keyframes fade_in {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.menu-main {
  background-color: #f7f7f7;
}

.menu {
  position: relative;
  background-color: #f7f7f7;
  border-radius: 40px 40px 0 0;
  padding: 10px 5%;
  top: -50px;
}
.menu__resto {
  display: inline-block;
  font-family: Shrikhand;
  width: 85%;
  margin: 10px 0;
  font-size: 1.5rem;
}
.menu input {
  display: none;
}
.menu input:checked + label > .fa-solid {
  background: linear-gradient(200deg, #9356DC 35%, #FF79DA 65%);
  color: transparent;
  background-clip: text;
  animation: like_bounce 1s ease 0s 1 normal forwards;
}
.menu input:checked + label > .fa-regular {
  opacity: 0;
}
.menu input:not(:checked) + label > .fa-solid {
  opacity: 0;
}
.menu i {
  font-size: 1rem;
}
.menu__wrapper {
  display: flex;
  flex-flow: column wrap;
}
@media screen and (min-width: 992px) {
  .menu__wrapper {
    flex-flow: row wrap;
  }
}
.menu__wrapper section {
  opacity: 0;
}
.menu__wrapper section:nth-child(1) {
  animation: fade_in 1s ease 0.5s 1 normal forwards;
}
.menu__wrapper section:nth-child(2) {
  animation: fade_in 1s ease 1s 1 normal forwards;
}
.menu__wrapper section:nth-child(3) {
  animation: fade_in 1s ease 1.5s 1 normal forwards;
}
.menu__heart i {
  font-size: 1.5rem;
  cursor: pointer;
}
.menu__heart .fa-solid {
  position: absolute;
  right: 7%;
  top: 20px;
  z-index: 0;
}
.menu__heart .fa-regular {
  position: absolute;
  right: 7%;
  top: 20px;
  z-index: 1;
}
.menu section {
  display: flex;
  flex-flow: column wrap;
}
@media screen and (min-width: 992px) {
  .menu section {
    width: 30%;
    margin-left: 2.5%;
  }
}
.menu__title {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 5px;
}
.menu__title::after {
  content: "";
  width: 10%;
  background-color: #99E2D0;
  height: 3px;
  display: block;
}
.menu__button {
  margin: 40px auto 0;
  width: 50%;
}

.header {
  text-align: center;
}
.header__logo img {
  width: 45%;
  margin: 10px;
}
.header .research {
  background-color: #f7f7f7;
}
.header .research i {
  position: relative;
  top: -37px;
  left: -87px;
}
.header .research__input {
  width: 100%;
  border: 0px;
  background-color: #EAEAEA;
  height: 50px;
  box-shadow: 0 4px 4px 0px #b7b7b7 inset;
  text-align: center;
}
.header .research__input::placeholder {
  color: black;
  font-weight: bolder;
  font-size: 1rem;
}
.header .research__title {
  margin: 0px 10%;
  font-size: 1.5rem;
  font-weight: 900;
}
.header .research__descreption {
  background-color: #f7f7f7;
  padding: 5%;
}
.header .research__text {
  font-size: medium;
}
.header .research__button {
  margin: 5% 0px;
}
.header__cover {
  overflow: hidden;
  height: 250px;
}
.header__cover img {
  object-fit: cover;
  width: 100%;
}
.header__nav {
  position: absolute;
  display: inline;
  left: 5%;
  top: 10px;
  font-size: 5vw;
  margin-top: 1%;
}

.menu-post {
  box-shadow: 4px 4px 20px -3px #aaaaaa;
  border-radius: 15px;
  margin: 10px 0;
  line-height: 20px;
  font-size: 0.8333333333rem;
  cursor: pointer;
}
.menu-post label {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  height: 59px;
  align-items: stretch;
  align-content: space-between;
  text-indent: 10%;
}
.menu-post__title {
  margin: 0;
  width: 60%;
  font-weight: 900;
  font-size: 16px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu-post__text {
  margin: 0;
  width: 60%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu-post__prix {
  font-weight: 900;
  text-align: right;
  width: 20%;
  transform: translatex(40px);
  transition: transform 250ms;
}
.menu-post--select {
  width: 20%;
  min-width: 0;
  height: 59px;
  position: relative;
  background-color: #99E2D0;
  color: white;
  top: 0;
  right: 0;
  border-radius: 0 15px 15px 0;
  text-align: center;
  transform: scalex(0);
  transform-origin: center right;
  transition: transform 250ms;
}
.menu-post--select i {
  transform: rotate();
  margin-top: 20px;
  transition: transform 800ms;
}
.menu-post__check {
  display: none;
}
.menu-post__check:hover + label .menu-post--select {
  opacity: 1;
  transform: scalex(1);
}
.menu-post__check:hover + label .menu-post--select .fa-circle-check {
  transform: rotate(360deg);
}
.menu-post__check:hover + label .menu-post__prix {
  opacity: 1;
  transform: translatex(-20px);
}
.menu-post__check:checked + label .menu-post--select {
  transform: scalex(1);
  background-color: #4acbab;
}

.steps {
  padding: 5%;
  margin-bottom: 20px;
}
.steps__wrapper {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
}
@media screen and (min-width: 992px) {
  .steps__wrapper {
    flex-flow: row wrap;
  }
}
@media screen and (min-width: 800px) {
  .steps__wrapper {
    flex-flow: row wrap;
  }
}
.steps__step {
  box-shadow: 4px 4px 20px -3px #aaaaaa;
  border-radius: 15px;
  padding-top: 20px;
  margin: 15px auto;
  background-color: #f7f7f7;
  font-size: medium;
  height: 60px;
  font-weight: 900;
  width: 100%;
}
@media screen and (min-width: 992px) {
  .steps__step {
    width: 30%;
  }
}
.steps__step:hover {
  background-color: #f4eefc;
}
.steps__step:hover > i {
  color: #9356DC;
}
.steps__step span {
  position: relative;
  left: -10px;
  border-radius: 30px;
  border: 1px #EAEAEA solid;
  padding: 4px 6px;
  background-color: #9356DC;
  color: white;
  font-size: x-small;
}
.steps__step i {
  margin: 0 7px;
}
.steps__step:hover {
  animation: botton_heart 2s ease 0s 1 normal forwards;
}
.steps__step:hover > i {
  animation: rotate 2s ease 0s 1 normal forwards;
}

.restos {
  padding: 5%;
  background-color: #f7f7f7;
}
.restos__wrapper {
  display: flex;
  flex-flow: column wrap;
}
@media screen and (min-width: 992px) {
  .restos__wrapper {
    flex-flow: row;
  }
}
.restos__post {
  position: relative;
  box-shadow: 4px 4px 20px -3px #aaaaaa;
  margin: 12px auto;
  border-radius: 12px;
  width: 95%;
}
@media screen and (min-width: 992px) {
  .restos__post {
    width: 23%;
    margin: 0 1%;
  }
}
.restos__post label {
  position: absolute;
  bottom: 40px;
  right: 2.5%;
}
.restos__post input {
  display: none;
}
.restos__post input:checked + label > .fa-solid {
  background: linear-gradient(200deg, #9356DC 35%, #FF79DA 65%);
  color: transparent;
  background-clip: text;
  animation: like_bounce 1s ease 0s 1 normal forwards;
}
.restos__post input:checked + label > .fa-regular {
  opacity: 0;
}
.restos__post input:not(:checked) + label > .fa-solid {
  opacity: 0;
}
.restos__post .fa-solid {
  position: relative;
  left: 50%;
  z-index: 0;
  cursor: pointer;
}
.restos__post .fa-regular {
  position: relative;
  z-index: 0;
  cursor: pointer;
}
.restos__post i {
  font-size: 1.5rem;
  cursor: pointer;
}
.restos__post:hover .restos--notif {
  animation: nouveau_bounce 1s ease 0s 1 alternate none;
}
.restos__post-title {
  margin-top: 5px;
}
.restos__fig {
  width: 100%;
  margin: 0;
}
.restos__fig figcaption {
  position: relative;
  line-height: 5px;
  padding: 10px 2.5%;
}
.restos__image {
  width: 100%;
  object-fit: cover;
  height: 173px;
  border-radius: 12px 12px 0 0;
}
.restos--notif {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #278870;
  background-color: #99E2D0;
  padding: 7px 5%;
  font-size: small;
  font-weight: bolder;
  margin: 0;
}

.footer {
  background-color: #353535;
  padding: 12px 5%;
}
.footer__logo {
  filter: invert(1);
  width: 30%;
  margin: 12px 0;
}
.footer .menu-footer__elem {
  line-height: 22px;
}
.footer .menu-footer a {
  color: white;
  font-size: small;
}
.footer .menu-footer i {
  margin: 0 4px;
  font-size: smaller;
}

/*# sourceMappingURL=style.css.map */
