@import "https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap";
@import "https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.2/css/fontawesome.min.css";
@import "https://fonts.googleapis.com/css2?family=Shrikhand:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap";
* {
  font-family: Roboto;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0px;
  margin: 0px;
}

li {
  list-style-type: none;
}

ul {
  margin: 0;
  padding: 0;
}

footer img {
  max-width: 100%;
}

a {
  color: black;
  text-decoration: none;
}

.header {
  text-align: center;
}
.header__logo img {
  width: 45%;
  margin: 10px;
}
.header .research {
  background-color: #f7f7f7;
}
.header .research i {
  position: relative;
  top: -37px;
  left: -87px;
}
.header .research__input {
  width: 100%;
  border: 0px;
  background-color: #EAEAEA;
  height: 50px;
  box-shadow: 0 4px 4px 0px #b7b7b7 inset;
  text-align: center;
}
.header .research__input::placeholder {
  color: black;
  font-weight: bolder;
  font-size: 1rem;
}
.header .research__title {
  margin: 0px 10%;
  font-size: 1.5rem;
  font-weight: 900;
}
.header .research__descreption {
  background-color: #f7f7f7;
  padding: 5%;
}
.header .research__text {
  font-size: medium;
}
.header .research__button {
  margin: 5% 0px;
}
.header__cover {
  overflow: hidden;
  height: 250px;
}
.header__cover img {
  object-fit: cover;
  width: 100%;
}
.header__nav {
  position: absolute;
  display: inline;
  left: 5%;
  top: 10px;
  font-size: 5vw;
}

.menu-post {
  box-shadow: 4px 4px 20px -3px #aaaaaa;
  border-radius: 15px;
  margin: 10px 0;
  line-height: 20px;
  font-size: 0.8333333333rem;
}
.menu-post label {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  height: 59px;
  align-items: stretch;
  align-content: space-between;
  text-indent: 10%;
}
.menu-post__title {
  margin: 0;
  width: 60%;
  font-weight: 900;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu-post__text {
  margin: 0;
  width: 60%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu-post__prix {
  font-weight: 900;
  text-align: right;
  width: 20%;
}
.menu-post--select {
  min-width: 0;
  height: 59px;
  position: relative;
  background-color: #99E2D0;
  color: white;
  top: 0;
  right: 0;
  border-radius: 0 15px 15px 0;
  text-align: center;
}
.menu-post--select i {
  margin-top: 20px;
}
.menu-post--select:not(:checked) {
  opacity: 0;
}
.menu-post__check {
  display: none;
}
.menu-post__check:hover + label .menu-post--select {
  opacity: 1;
  animation: slide_select 1s ease 0s 1 normal forwards;
}
.menu-post__check:not(:hover) + label .menu-post--select {
  animation: slide_select 1s ease 0s 1 normal reverse;
}
.menu-post__check:checked + label .menu-post--select {
  opacity: 1;
  transform-origin: 100% 50%;
  animation: slide_select 1s ease 0s 1 normal forwards;
}

footer {
  background-color: #353535;
  padding: 12px 5%;
}
footer .logo-footer {
  filter: invert(1);
  width: 30%;
  margin: 12px 0;
}
footer .menu-footer__elem {
  line-height: 22px;
}
footer .menu-footer a {
  color: white;
  font-size: small;
}
footer .menu-footer i {
  margin: 0 4px;
  font-size: smaller;
}

.steps {
  padding: 5%;
  margin-bottom: 20px;
}
.steps__wrapper {
  display: flex;
  justify-content: flex-start;
  flex-flow: column wrap;
}
@media screen and (min-width: 992px) {
  .steps__wrapper {
    flex-flow: row wrap;
  }
}
@media screen and (min-width: 800px) {
  .steps__wrapper {
    flex-flow: row wrap;
  }
}
.steps__step {
  box-shadow: 4px 4px 20px -3px #aaaaaa;
  border-radius: 15px;
  padding-top: 20px;
  margin: 15px auto;
  background-color: #f7f7f7;
  font-size: medium;
  height: 60px;
  font-weight: 900;
  width: 100%;
}
@media screen and (min-width: 992px) {
  .steps__step {
    width: 30%;
  }
}
@media screen and (min-width: 800px) {
  .steps__step {
    width: 30%;
  }
}
.steps__step:hover {
  background-color: #f4eefc;
}
.steps__step:hover > i {
  color: #9356DC;
}
.steps span {
  position: relative;
  left: -10px;
  border-radius: 30px;
  border: 1px #EAEAEA solid;
  padding: 4px 6px;
  background-color: #9356DC;
  color: white;
  font-size: x-small;
}
.steps i {
  margin: 0 7px;
}

.restos {
  padding: 5%;
  background-color: #f7f7f7;
}
.restos__wrapper {
  display: flex;
  flex-flow: column;
}
@media screen and (min-width: 992px) {
  .restos__wrapper {
    flex-flow: row;
  }
}
.restos__post {
  position: relative;
  box-shadow: 4px 4px 20px -3px #aaaaaa;
  margin: 12px auto;
  border-radius: 12px;
  width: 95%;
}
@media screen and (min-width: 992px) {
  .restos__post {
    width: 23%;
    margin: 0 1%;
  }
}
.restos__post-title {
  margin-top: 5px;
}
.restos__fig {
  width: 100%;
  margin: 0;
}
.restos__image {
  width: 100%;
  object-fit: cover;
  height: 173px;
  border-radius: 12px 12px 0 0;
}
.restos--notif {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #278870;
  background-color: #99E2D0;
  padding: 7px 5%;
  font-size: small;
  font-weight: bolder;
}
.restos label {
  position: absolute;
  bottom: 40px;
  right: 2.5%;
}
.restos input {
  display: none;
}
.restos input:checked + label > .fa-solid {
  background: linear-gradient(200deg, #9356DC 35%, #FF79DA 65%);
  color: transparent;
  -webkit-background-clip: text;
  animation: like_bounce 300ms ease 0s 1 normal forwards;
}
.restos input:checked + label > .fa-regular {
  opacity: 0;
}
.restos input:not(:checked) + label > .fa-solid {
  opacity: 0;
}
.restos .fa-solid {
  position: relative;
  left: 50%;
  z-index: 1;
}
.restos .fa-regular {
  position: relative;
  z-index: 9;
}
.restos i {
  font-size: 1.5rem;
}
.restos figcaption {
  position: relative;
  line-height: 5px;
  padding: 10px 2.5%;
}

.button_gardient {
  border: none;
  background: #FF79DA;
  background: linear-gradient(180deg, #FF79DA 0%, #9356DC 100%);
  color: white;
  padding: 15px 10%;
  border-radius: 30px;
  box-shadow: 4px 4px 10px -3px #aaaaaa;
  font-size: small;
}

.loadscreen {
  position: fixed;
  margin: 0px;
  background: radial-gradient(#CECECE, #fff);
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  opacity: 1;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  color: white;
  animation: 5s opacity linear;
  animation-fill-mode: forwards;
}
.loadscreen i {
  position: absolute;
  color: black;
  bottom: 10%;
  z-index: 999;
  font-size: 2rem;
  animation: 150ms 2s bowl ease-in forwards;
  animation-iteration-count: 3;
}
.loadscreen .container {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background: linear-gradient(165deg, white, rgb(220, 220, 220) 40%, rgb(170, 170, 170) 98%, rgb(10, 10, 10) 100%);
  position: relative;
}
.loadscreen__loader {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border-bottom: 0 solid rgba(255, 255, 255, 0.0196078431);
  box-shadow: 0 -10px 20px 20px rgba(255, 255, 255, 0.2509803922) inset, 0 -5px 15px 10px rgba(255, 255, 255, 0.3137254902) inset, 0 -2px 5px rgba(255, 255, 255, 0.5019607843) inset, 0 -3px 2px rgba(255, 255, 255, 0.7333333333) inset, 0 2px 0px #FF79DA, 0 2px 3px #FF79DA, 0 5px 5px rgba(255, 255, 255, 0.5647058824), 0 10px 15px rgba(255, 255, 255, 0.3764705882), 0 10px 20px 20px rgba(255, 255, 255, 0.2509803922);
  filter: blur(3px);
  animation: 2s rotate linear infinite;
}
.loadscreen__wrapper-logo {
  position: absolute;
  transform: scale(5, 0.001);
  filter: blur(0.5rem);
  top: 50%;
  z-index: 998;
}
.loadscreen__logo-blur {
  width: 100%;
  opacity: 0.1;
  animation: 2s blur_scale linear infinite;
}
.loadscreen__logo {
  position: relative;
  top: 140px;
  left: 20%;
  width: 60%;
  z-index: 999;
}
@media screen and (min-width: 992px) {
  .loadscreen__logo {
    top: 140px;
  }
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes opacity {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  99% {
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}
@keyframes bowl {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes blur_scale {
  0% {
    transform: scale(0, 1000);
  }
  50% {
    transform: scale(0.2, 1000);
  }
  100% {
    transform: scale(0, 1000);
  }
}

.steps__step:hover {
  animation: botton_heart 2s ease 0s 1 normal forwards;
}
.steps__step:hover > i {
  animation: rotate 2s ease 0s 1 normal forwards;
}

.restos__post:hover {
  animation: botton_heart 2s ease 0s 1 normal forwards;
}
.restos__post:hover .restos--notif {
  animation: nouveau_bounce 2s ease 0s 1 alternate none;
}

@keyframes botton_heart {
  0% {
    animation-timing-function: ease-out;
    transform: scale(1);
    transform-origin: center center;
  }
  10% {
    animation-timing-function: ease-in;
    transform: scale(0.91);
  }
  17% {
    animation-timing-function: ease-out;
    transform: scale(0.98);
  }
  33% {
    animation-timing-function: ease-in;
    transform: scale(0.87);
  }
  45% {
    animation-timing-function: ease-out;
    transform: scale(1);
  }
}
@keyframes nouveau_bounce {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70% {
    transform: translateX(-10px);
  }
  20%, 40%, 60% {
    transform: translateX(10px);
  }
  80% {
    transform: translateX(8px);
  }
  90% {
    transform: translateX(-8px);
  }
}
.button_gardient:hover {
  animation: button_shadow 1s ease 0s 1 normal forwards;
}

@keyframes button_shadow {
  0% {
    box-shadow: 0 0 20px 0px #b7b7b7;
    filter: brightness(100%);
  }
  100% {
    box-shadow: 0 0 20px 0 #6b6b6b;
    filter: brightness(110%);
  }
}
@keyframes like_bounce {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
    transform: scale(0);
  }
  38% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: scale(1);
  }
  55% {
    animation-timing-function: ease-in;
    transform: scale(0.7);
  }
  72% {
    animation-timing-function: ease-out;
    transform: scale(1);
  }
  81% {
    animation-timing-function: ease-in;
    transform: scale(0.84);
  }
  89% {
    animation-timing-function: ease-out;
    transform: scale(1);
  }
  95% {
    animation-timing-function: ease-in;
    transform: scale(0.95);
  }
  100% {
    animation-timing-function: ease-out;
    transform: scale(1);
    z-index: auto;
  }
}
@keyframes slide_select {
  0% {
    opacity: 0;
    width: 0;
  }
  100% {
    opacity: 1;
    width: 16%;
  }
}
.menu-main {
  background-color: #f7f7f7;
}

.menu {
  position: relative;
  background-color: #f7f7f7;
  border-radius: 40px 40px 0 0;
  padding: 10px 5%;
  top: -50px;
}
.menu__resto {
  display: inline-block;
  font-family: Shrikhand;
  width: 85%;
  margin: 10px 0;
}
.menu input {
  display: none;
}
.menu input:checked + label > .fa-solid {
  background: linear-gradient(200deg, #9356DC 35%, #FF79DA 65%);
  color: transparent;
  -webkit-background-clip: text;
  animation: like_bounce 300ms ease 0s 1 normal forwards;
}
.menu input:checked + label > .fa-regular {
  opacity: 0;
}
.menu input:not(:checked) + label > .fa-solid {
  opacity: 0;
}
.menu i {
  font-size: 1rem;
}
.menu__wrapper {
  display: flex;
  flex-flow: column;
}
@media screen and (min-width: 992px) {
  .menu__wrapper {
    flex-flow: row wrap;
  }
}
.menu__heart i {
  font-size: 1.5rem;
}
.menu__heart .fa-solid {
  position: absolute;
  right: 7%;
  top: 20px;
  z-index: 1;
}
.menu__heart .fa-regular {
  position: absolute;
  right: 7%;
  top: 20px;
  z-index: 9;
}
.menu section {
  display: flex;
  flex-flow: column;
}
@media screen and (min-width: 992px) {
  .menu section {
    width: 30%;
    margin-left: 2.5%;
  }
}
.menu__title {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 5px;
}
.menu__title--unederscore {
  width: 10%;
  background-color: #99E2D0;
  height: 3px;
}
.menu__button {
  margin: 40px auto 0;
  width: 50%;
}

/*# sourceMappingURL=style.css.map */
