// Le loader de la page d'accueil 
.loadscreen {
    position: fixed;
    margin: 0px;
    background: radial-gradient(#CECECE, #fff);
    @include flex(column);
    justify-content: center;
    align-items: center;
    opacity: 1;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    color: white;
    animation: 5s opacity linear;
    animation-fill-mode: forwards;

    i {
        position: absolute;
        color: black;
        bottom: 10%;
        z-index: 9999;
        font-size: $size_x3;
        animation: 150ms 2s bowl ease-in forwards;
        animation-iteration-count: 3;
    }

    .container {
        width: 200px;
        height: 200px;
        border-radius: 100%;
        background: linear-gradient(165deg, white, rgb(220, 220, 220) 40%, rgb(170, 170, 170) 98%, rgb(10, 10, 10) 100%);
        position: relative;
    }


    &__loader {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        border-radius: 100%;
        border-bottom: 0 solid #ffffff05;
        box-shadow:
            0 -10px 20px 20px #ffffff40 inset,
            0 -5px 15px 10px #ffffff50 inset,
            0 -2px 5px #ffffff80 inset,
            0 -3px 2px #ffffffBB inset,
            0 2px 0px $color_secondery,
            0 2px 3px $color_secondery,
            0 5px 5px #ffffff90,
            0 10px 15px #ffffff60,
            0 10px 20px 20px #ffffff40;
        filter: blur(3px);
        animation: 2s rotate linear infinite;
    }

    &__wrapper-logo {
        position: absolute;
        transform: scale(5, 0.001);
        filter: blur(0.5rem);
        top: 50%;
        z-index: 998;
    }

    &__logo-blur {
        width: 100%;
        opacity: 0.1;
        animation: 2s blur_scale linear infinite;

    }

    &__logo {
        position: relative;
        top: 140px;
        left: 20%;
        width: 60%;
        z-index: 999;

        @include md(large) {
            top: 140px
        }
    }

    @keyframes rotate {
        100% {
            transform: rotate(360deg)
        }
    }

    @keyframes opacity {
        0% {
            opacity: 1;
        }

        80% {
            opacity: 1;
        }

        99% {
            transform: scale(1);
        }

        100% {
            opacity: 0;
            transform: scale(0);
        }
    }

    @keyframes bowl {
        0% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(10px);
        }

        100% {
            transform: translateY(0)
        }
    }

    @keyframes blur_scale {
        0% {
            transform: scale(0, 1000);
        }

        50% {
            transform: scale(calc(1/5), 1000);
        }

        100% {
            transform: scale(0, 1000);
        }
    }
}

// Annimation de la page d'accueil 
// Bouton steps 
 
@keyframes botton_heart {
    0% {
        animation-timing-function: ease-out;
        transform: scale(1);
        transform-origin: center center;
    }

    10% {
        animation-timing-function: ease-in;
        transform: scale(0.91);
    }

    17% {
        animation-timing-function: ease-out;
        transform: scale(0.98);
    }

    33% {
        animation-timing-function: ease-in;
        transform: scale(0.87);
    }

    45% {
        animation-timing-function: ease-out;
        transform: scale(1);
    }
}
// Bouton de notificaiton nouveau pour les restos 
@keyframes nouveau_bounce {

    0%,
    100% {
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70% {
        transform: translateX(-10px);
    }

    20%,
    40%,
    60% {
        transform: translateX(10px);
    }

    80% {
        transform: translateX(8px);
    }

    90% {
        transform: translateX(-8px);
    }
}
// Ajoute l'effet ombre portée sur les boutons en plus de son eclairssisement 
@keyframes button_shadow {
    0% {
        box-shadow: 0 0 20px 0px darken($color_gris, 20%);
        filter: brightness(100%);
    }

    100% {
        box-shadow: 0 0 20px 0 darken($color_gris, 50%);
        filter: brightness(110%);

    }
}
// Petit effect de remplissage et de rebond du bouton like 
@keyframes like_bounce {
    0% {
        animation-timing-function: ease-in;
        opacity: 0;
        transform: scale(0);
    }

    38% {
        animation-timing-function: ease-out;
        opacity: 1;
        transform: scale(1);
    }

    55% {
        animation-timing-function: ease-in;
        transform: scale(0.7);
    }

    72% {
        animation-timing-function: ease-out;
        transform: scale(1);
    }

    81% {
        animation-timing-function: ease-in;
        transform: scale(0.84);
    }

    89% {
        animation-timing-function: ease-out;
        transform: scale(1);
    }

    95% {
        animation-timing-function: ease-in;
        transform: scale(0.95);
    }

    100% {
        animation-timing-function: ease-out;
        transform: scale(1);
        z-index: auto;
    }
}

// annimation pages menu 
// le fondu des plats sur les pages des restos 
@keyframes fade_in {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}