.button_gardient {
    border: none;
    background: $color_secondery;
    @include gardient(180deg);
    color: white;
    padding: $spaceV+5 $space;
    @include radius(30px);
    @include shadow;
    font-size: small;
}