.menu-main {
    background-color: lighten($color_gris, 5%);

}

.menu {
    position: relative;
    background-color: lighten($color_gris, 5%);
    @include radius($spaceV*4, "haut");
    padding: $spaceV calc($space/2);
    top: -$spaceV*5;

    &__resto {
        display: inline-block;
        font-family: Shrikhand;
        width: 85%;
        margin: $spaceV 0;
        font-size: $size_x2;
    }

    input {
        display: none;

        &:checked+label>.fa-solid {
            background: linear-gradient(200deg, #9356DC 35%, #FF79DA 65%);
            color: transparent;
            background-clip: text;
            animation: like_bounce 1s ease 0s 1 normal forwards;
        }

        &:checked+label>.fa-regular {
            opacity: 0;
        }

    }

    input:not(:checked)+label>.fa-solid {
        opacity: 0;
    }

    & i {
        font-size: $size_x1;

    }

    &__wrapper {
        @include flex(column);

        @include md(large) {
            flex-flow: row wrap;
        }

        section {
            opacity: 0;
            @include annimation_card;
        }
    }

    &__heart {
        & i {
            font-size: $size_x2;
            cursor: pointer;
        }

        .fa-solid {
            @include icone;
            z-index: 0;
        }

        .fa-regular {
            @include icone;
            z-index: 1;
        }
    }

    section {
        @include flex(column);

        @include md(large) {
            width: 30%;
            margin-left: calc($space/4);
        }
    }

    &__title {
        text-transform: uppercase;
        font-size: $size_x1;
        font-weight: 500;
        margin-bottom: $spaceV - 5;

        &::after {
            content: "";
            width: $space;
            background-color: #99E2D0;
            height: 3px;
            display: block;
        }
    }

    &__button {
        margin: $spaceV*4 auto 0;
        width: 50%;
    }
}